body{
    background-image: url(wallpaper.jpg);
    background-position: center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    color: lightseagreen;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    font-weight: normal;
    
}
